/* code by Hiruna Wijesinghe
in css comment are not <!-- --> :)

--originally there is some type of fixed layout,
i have redone it using floats. Explore the different ways of making
layouts there are several
*/
/*css reset -fix browser inconsitent stuff */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* css reset END */


body{
	background-color:#0d0d0d;
	font-family: Ubuntu, sans-serif;
	color: white;
	padding: 10px;
}
a {
  color: inherit;
  text-decoration: none;
}
.headBox{
	font-size: 2em;
	font-weight: bold;
	cursor: default;
	float: left;
	background-color:#333333;
	width:96%;
	padding:2%;
	border-radius:10px;/* this wont work on it own for cross browser so added for compatabillity */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.container {
	float: left;
	clear: both;
	width: 100%;
}

.content{
	float: left;
	background-color:#262626;
	width:600px;
	padding:10px;
	margin-top:10px;
	margin-left:10px;
	text-align:left;
	border-radius:10px; /* this wont work on it own for cross browser so added for compatabillity */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.footBox{
	clear: both;
	float: left;
	margin-top: 10px;
	background-color:#333333;
	width:100%;
	height: 30px;
	padding-top: 15px;
	text-align:center;
	border-radius:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.navBox{
	float: left;
	background-color:#333333;
	width:140px;
	height: 500px;
	margin-top: 10px;
	padding-bottom: 10px;
	border-radius:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.navButton{
	background-color:#262626;
	width:120px;
	height:30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align:center;
	padding-top: 15px;
}
.navButton:hover{
	background-color:#737373;
	cursor:pointer;
}
.navButton:active{
	background-color:#4d4d4d;
	cursor:pointer;
}
